* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.header {
    background-color: #2874f0;
    width: 100%;
    height: 56px;
    color: #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 200px;
    justify-content: space-evenly;
    position: sticky;
}
p span:hover{
    text-decoration: underline;
    color: #ffe11b;
    font-style: italic;
}
p {
    font-weight: bolder;
}
.ShoppingBar {
    display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height: 200PX;
   box-shadow: 0 0 10px black;

   
}
.ShoppingBar td :hover {
    box-shadow: black 0 0 10px;
}
.image {
    padding: 30px;
    text-align: center;
}
#paytmImage {
    box-shadow: black 0 0 10px;
    border-radius: 10%;
    margin-top: 2%;
}
#beautyProduct {
    box-shadow: black 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#beautyProduct td {
    padding: 50px;
    
}
#beautyProduct td :hover {
    box-shadow: black 0 0 10px;
}
.footer {
    background-color: #172327;
    padding: 40px;
    color: cornsilk;
    text-align: center;
}